<main class="contendor padding-top10">
    <h1 class="fw-300 centrar-texto">Conoce sobre nosotros</h1>

    <div class="contenido-nosotros">
        <div class="imagen">
            <img src="assets/img/nosotros.jpg" alt="Imagen sobre nosotros">
        </div>
        <div class="texto-nosotros">
            <blockquote>25 años de experiencia</blockquote>
            <p>Curabitur tellus dui, interdum vitae tortor ut, finibus laoreet tellus. Praesent eu lacus interdum urna laoreet consequat eget non erat. Praesent magna ipsum, efficitur at efficitur vehicula, porta euismod nisi. Maecenas dignissim pharetra
                elit, eu ultrices sem varius sit amet. Morbi non dictum ante, ut placerat lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent porta mattis ipsum, et interdum ligula blandit id.</p>

            <p>Sed eget tortor lectus. Ut vel sapien mauris. Aenean sit amet cursus metus, ut ornare turpis. Nulla aliquet erat non sodales pellentesque. Nullam metus tellus, tempor nec aliquam id, viverra id neque.</p>
        </div>
    </div>
</main>

<section class="contenedor seccion">
    <h2 class="fw-300 centrar-texto">Más sobre nosotros</h2>
    <div class="iconos-nosotros">
        <div class="icono">
            <img src="assets/img/icono1.svg" alt="Icono seguridad">
            <h3>Seguridad</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis voluptatem quam, velit id sunt dolore cupiditate iusto tempora saepe? Expedita adipisci amet nostrum ea nemo neque nam sed tempora quos.</p>
        </div>

        <div class="icono">
            <img src="assets/img/icono2.svg" alt="Icono mejor precio">
            <h3>El mejor precio</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis voluptatem quam, velit id sunt dolore cupiditate iusto tempora saepe? Expedita adipisci amet nostrum ea nemo neque nam sed tempora quos.</p>
        </div>

        <div class="icono">
            <img src="assets/img/icono1.svg" alt="Icono tiempo">
            <h3>A tiempo</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis voluptatem quam, velit id sunt dolore cupiditate iusto tempora saepe? Expedita adipisci amet nostrum ea nemo neque nam sed tempora quos.</p>
        </div>
    </div>
</section>