<div class="barra">
    <div class="logo">
        <a routerLink="home">
            <img src="assets/img/logo.svg" alt="Logotipo de bienes raíces">
        </a>
    </div>

    <!--Botón-->
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <div class="icono-mobile">
            <div class="icono-menu">
                <div class="linea-1"></div>
                <div class="linea-2"></div>
                <div class="linea-3"></div>
            </div>
        </div>
    </label>

    <nav class="navegacion" id="navegacion">
        <ul class="enlaces">
            <li class="enlace">
                <a routerLinkActive="active" routerLink="home">Inicio</a>
            </li>
            <li class="enlace">
                <a routerLinkActive="active" routerLink="nosotros">Nosotros</a>
            </li>
            <li class="enlace">
                <a routerLinkActive="active" routerLink="anuncios">Anuncios</a>
            </li>
            <li class="enlace">
                <a routerLinkActive="active" routerLink="blog">Blog</a>
            </li>
            <li class="enlace">
                <a routerLinkActive="active" routerLink="contacto">Contacto</a>
            </li>
        </ul>
    </nav>
</div>