<div class="barra">
    <div class="logo">
        <a href="/">
            <img src="assets/img/logo.svg" alt="Logotipo de bienes raíces">
        </a>
    </div>

    <!--Botón-->
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <div class="icono-mobile">
            <div class="icono-menu">
                <div class="linea-1"></div>
                <div class="linea-2"></div>
                <div class="linea-3"></div>
            </div>
        </div>
    </label>

    <nav class="navegacion" id="navegacion">
        <ul class="enlaces">
            <li class="enlace">
                <a class="active" href="/">Inicio</a>
            </li>
            <li class="enlace">
                <a href="nosotros.html">Nosotros</a>
            </li>
            <li class="enlace">
                <a href="anuncios.html">Anuncios</a>
            </li>
            <li class="enlace">
                <a href="blog.html">Blog</a>
            </li>
            <li class="enlace">
                <a href="contacto.html">Contacto</a>
            </li>
        </ul>
    </nav>
</div>