<main class="contenedor seccion contenido-centrado padding-top10">
    <h1 class="fw-300 centrar-texto">Nuestro blog</h1>
    <article class="entrada-blog">
        <div class="imagen">
            <img src="assets/img/blog1.jpg" alt="Entrada 1">
        </div>
        <div class="texto-entrada">
            <a href="entrada.html">
                <h4>Terraza en el techo de tu casa.</h4>
            </a>
            <p>Escrito el: <span>20/10/2019</span> por: <span>Admin</span></p>
            <p>Consejos para construir una terraza con los mejores materiales y ahorrando. </p>
        </div>
    </article>

    <article class="entrada-blog">
        <div class="imagen">
            <img src="assets/img/blog2.jpg" alt="Entrada 2">
        </div>
        <div class="texto-entrada">
            <a href="entrada.html">
                <h4>Constrye tu alberca</h4>
            </a>
            <p>Escrito el: <span>20/10/2019</span> por: <span>Admin</span></p>
            <p>Maximiza el espacio y aprende a combinar.</p>
        </div>
    </article>

    <article class="entrada-blog">
        <div class="imagen">
            <img src="assets/img/blog3.jpg" alt="Entrada 1">
        </div>
        <div class="texto-entrada">
            <a href="entrada.html">
                <h4>Terraza en el techo de tu casa.</h4>
            </a>
            <p>Escrito el: <span>20/10/2019</span> por: <span>Admin</span></p>
            <p>Consejos para construir una terraza con los mejores materiales y ahorrando. </p>
        </div>
    </article>

    <article class="entrada-blog">
        <div class="imagen">
            <img src="assets/img/blog4.jpg" alt="Entrada 2">
        </div>
        <div class="texto-entrada">
            <a href="entrada.html">
                <h4>Decoración habitación</h4>
            </a>
            <p>Escrito el: <span>20/10/2019</span> por: <span>Admin</span></p>
            <p>Maximiza el espacio y aprende a combinar.</p>
        </div>
    </article>

</main>