<div class="contacto padding-top10">
    <h1 class="fw-300 centrar-texto">Contacto</h1>
    <img src="assets/img/destacada3.jpg" alt="Imagen Principal">
</div>

<main class="contenedor seccion contenido-centrado">
    <h2 class="fw-300 centrar-texto">Llenar formulario Contacto</h2>

    <form action="">
        <fieldset>
            <legend>Info personal</legend>

            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" placeholder="Tu nombre">

            <label for="email">Correo</label>
            <input type="email" id="email" placeholder="Tu correo" required>

            <label for="telefono">Telefono</label>
            <input type="tel" id="telefono" placeholder="Tu telefono" required>

            <label for="mensaje">Mensaje</label>
            <textarea id="mensaje"></textarea>
        </fieldset>

        <fieldset>
            <legend>Info sobre propiedad</legend>
            <label for="opciones">Vende o compra</label>
            <select id="opciones">
                    <option value="" disabled selected>-- Seleccione --</option>
                    <option value="Compra">Compra</option>
                    <option value="Vende">Vende</option>
                </select>

            <label for="cantidad">Cantidad</label>
            <input type="number" min="0" max="100" step="5">

        </fieldset>

        <fieldset>
            <legend>Contacto</legend>
            <p>Como desea ser contactado</p>

            <div class="forma-contacto">
                <label for="telefono">Telefono</label>
                <input type="radio" name="contacto" value="telefono" id="telefono">

                <label for="correo">Correo</label>
                <input type="radio" name="contacto" value="correo" id="correo">
            </div>

            <p>Telefono, elegir fecha y hora</p>
            <label for="fecha">fecha</label>
            <input type="date" id="fecha">

            <label for="hora">hora</label>
            <input type="time" id="hora" min="09:00" max="18:00">

        </fieldset>

        <input type="submit" value="Enviar" class="boton boton-verde">

    </form>
</main>