<div class="padding-top10">
    <h1 class="fw-300 centrar-texto">Consejos alberca en tu casa</h1>
    <img src="assets/img/destacada2.jpg" alt="Imagen principal">
</div>

<main class="contenedor seccion contenido-centrado texto-entrada">
    <p>Escrito el: <span>20/10/2019</span> por: <span>Admin</span></p>

    <p>Curabitur tellus dui, interdum vitae tortor ut, finibus laoreet tellus. Praesent eu lacus interdum urna laoreet consequat eget non erat. Praesent magna ipsum, efficitur at efficitur vehicula, porta euismod nisi. Maecenas dignissim pharetra elit, eu
        ultrices sem varius sit amet. Morbi non dictum ante, ut placerat lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent porta mattis ipsum, et interdum ligula blandit id. Curabitur vel rhoncus turpis. Quisque maximus aliquet
        mi, sed euismod mauris varius in. Curabitur gravida est a dui hendrerit, et rhoncus urna iaculis. Duis varius bibendum bibendum. Donec laoreet porttitor porttitor. Nullam pretium finibus finibus.</p>

    <p>Sed eget tortor lectus. Ut vel sapien mauris. Aenean sit amet cursus metus, ut ornare turpis. Nulla aliquet erat non sodales pellentesque. Nullam metus tellus, tempor nec aliquam id, viverra id neque. Nunc hendrerit sagittis ligula, ac tempor enim
        tincidunt eu. In fermentum quam in metus auctor, a vehicula ex sagittis. Nam eget dui imperdiet risus molestie blandit sit amet eu eros. Duis vulputate vestibulum eros id dictum. Nullam eu auctor nunc. Sed mollis, arcu vitae accumsan congue, nisl
        velit molestie ante, ut dictum elit nisi sed risus. In odio augue, faucibus vel sodales pharetra, porta a nunc. </p>

    <p>Curabitur tellus dui, interdum vitae tortor ut, finibus laoreet tellus. Praesent eu lacus interdum urna laoreet consequat eget non erat. Praesent magna ipsum, efficitur at efficitur vehicula, porta euismod nisi. Maecenas dignissim pharetra elit, eu
        ultrices sem varius sit amet. Morbi non dictum ante, ut placerat lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent porta mattis ipsum, et interdum ligula blandit id. Curabitur vel rhoncus turpis. Quisque maximus aliquet
        mi, sed euismod mauris varius in. Curabitur gravida est a dui hendrerit, et rhoncus urna iaculis. Duis varius bibendum bibendum. Donec laoreet porttitor porttitor. Nullam pretium finibus finibus.</p>

    <p>Sed eget tortor lectus. Ut vel sapien mauris. Aenean sit amet cursus metus, ut ornare turpis. Nulla aliquet erat non sodales pellentesque. Nullam metus tellus, tempor nec aliquam id, viverra id neque. Nunc hendrerit sagittis ligula, ac tempor enim
        tincidunt eu. In fermentum quam in metus auctor, a vehicula ex sagittis. Nam eget dui imperdiet risus molestie blandit sit amet eu eros. Duis vulputate vestibulum eros id dictum. Nullam eu auctor nunc. Sed mollis, arcu vitae accumsan congue, nisl
        velit molestie ante, ut dictum elit nisi sed risus. In odio augue, faucibus vel sodales pharetra, porta a nunc. </p>

    <p>Curabitur tellus dui, interdum vitae tortor ut, finibus laoreet tellus. Praesent eu lacus interdum urna laoreet consequat eget non erat. Praesent magna ipsum, efficitur at efficitur vehicula, porta euismod nisi. Maecenas dignissim pharetra elit, eu
        ultrices sem varius sit amet. Morbi non dictum ante, ut placerat lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent porta mattis ipsum, et interdum ligula blandit id. Curabitur vel rhoncus turpis. Quisque maximus aliquet
        mi, sed euismod mauris varius in. Curabitur gravida est a dui hendrerit, et rhoncus urna iaculis. Duis varius bibendum bibendum. Donec laoreet porttitor porttitor. Nullam pretium finibus finibus.</p>

    <p>Sed eget tortor lectus. Ut vel sapien mauris. Aenean sit amet cursus metus, ut ornare turpis. Nulla aliquet erat non sodales pellentesque. Nullam metus tellus, tempor nec aliquam id, viverra id neque. Nunc hendrerit sagittis ligula, ac tempor enim
        tincidunt eu. In fermentum quam in metus auctor, a vehicula ex sagittis. Nam eget dui imperdiet risus molestie blandit sit amet eu eros. Duis vulputate vestibulum eros id dictum. Nullam eu auctor nunc. Sed mollis, arcu vitae accumsan congue, nisl
        velit molestie ante, ut dictum elit nisi sed risus. In odio augue, faucibus vel sodales pharetra, porta a nunc. </p>

    <p>Curabitur tellus dui, interdum vitae tortor ut, finibus laoreet tellus. Praesent eu lacus interdum urna laoreet consequat eget non erat. Praesent magna ipsum, efficitur at efficitur vehicula, porta euismod nisi. Maecenas dignissim pharetra elit, eu
        ultrices sem varius sit amet. Morbi non dictum ante, ut placerat lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent porta mattis ipsum, et interdum ligula blandit id. Curabitur vel rhoncus turpis. Quisque maximus aliquet
        mi, sed euismod mauris varius in. Curabitur gravida est a dui hendrerit, et rhoncus urna iaculis. Duis varius bibendum bibendum. Donec laoreet porttitor porttitor. Nullam pretium finibus finibus.</p>

    <p>Sed eget tortor lectus. Ut vel sapien mauris. Aenean sit amet cursus metus, ut ornare turpis. Nulla aliquet erat non sodales pellentesque. Nullam metus tellus, tempor nec aliquam id, viverra id neque. Nunc hendrerit sagittis ligula, ac tempor enim
        tincidunt eu. In fermentum quam in metus auctor, a vehicula ex sagittis. Nam eget dui imperdiet risus molestie blandit sit amet eu eros. Duis vulputate vestibulum eros id dictum. Nullam eu auctor nunc. Sed mollis, arcu vitae accumsan congue, nisl
        velit molestie ante, ut dictum elit nisi sed risus. In odio augue, faucibus vel sodales pharetra, porta a nunc. </p>
</main>